.header__lang-link-en {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.16;
  text-align: right;
  
  color: #FFFFFF;
  
  width: 29px;
  min-height: 28px;
  
  margin: auto 0 auto 18px;
  /* border: 1px solid red; */
}

@media screen and (max-width: 320px) {
  .header__lang-link-en {
    font-size: 18px;
    line-height: 1.11;
  }
}