.header__lang-link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.16;
    /* line-height делю на font-size */
  text-align: right;
  text-decoration: none;
  color: #FFFFFF;
  
  max-width: 30px;
  
  padding-left: 18px;
  /* border: 1px solid red; */
}

.header__lang-link:hover {
  opacity: 0.8;
  transition: opasity .6s linear;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}

