.places {
  margin: 92px auto 92px;
  max-width: 100%;
  
  padding: 0 148px 0 148px;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1150px) {
  .places {
    padding: 0 100px 0 100px;
  }
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 0 48px 0 48px;
  }
}

@media screen and (max-width: 890px) {
  .places {
    padding: 0 30px 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding: 0 24px 0 24px;
    margin: 88px 0 90px 0;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding: 0;
    margin: 64px 0 66px 0;
  }
}