.places {
  margin: 0 auto 80px;
  max-width: 100%;
  
  padding: 92px 148px 0 148px;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 92px 48px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding: 64px 0 0 0;
  }
}