.place__image {
  object-fit: cover;
  width: 100%;
  
  margin: 0;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1024px) {
  .place__image {
    min-height: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    min-height: 340px;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    min-height: 320px;
  }
}