.paragraphs__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.61;
  color: #FFFFFF;
    
  margin: 0 0 26px;
    /* border: 1px solid red; */
}
  
.paragraphs__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .paragraphs__paragraph {
    font-size: 16px;
  }
}
  
@media screen and (max-width: 320px) {
  .paragraphs__paragraph {
    font-size: 16px;
  }
}