.lead {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  min-height: 1005px;
  max-width: 100%;
  
  padding: 56px 148px 0;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 100%;
    min-height: 962px;
    
    padding: 48px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 100%;
    min-height: 862px;
    
    padding: 48px 0;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    min-height: 406px;
    
    padding: 48px 2px 0;
  }
}