.place__paragraph {
  font-family: 'Inter', 'Areal', sans-serif;
  /* max-width: 484px; */
  max-width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
    /* font-size: calc( (100vw - 320px)/(1280 - 320) * (18 - 14) + 14px)*/
  line-height: 1.61;
  color: #ffffff;
 
  margin: 0;
  padding-bottom: 26px;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}
  
  
@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    
    padding-bottom: 25px;
  }
}
  
  @media screen and (max-width: 320px) {
  .place__paragraph {
    box-sizing: border-box;

    padding-left: 16px;
    padding-right: 16px;
  }
}