.lead__subtitle {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  color: #FFFFFF;
  
  width: 640px;

  margin: 0 0 64px;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 0 56px;
  }
}
@media screen and (max-width: 720px) {
  .lead__subtitle {
    font-size: 25px;
    line-height: 1.2;
    color: #FFFFFF;
    width: 400px;
  }
}

@media screen and (max-width: 734px) {
  .lead__subtitle {
    font-size: 30px;
    width: 450px;
  }
}

@media screen and (max-width: 450px) {
  .lead__title {
    width: 319px;
    font-size: 19px;
  }
}


@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
  
    width: 288px;

    margin: 0 0 40px;
  }
}