.place__link {
    display: inline-block;
    
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    text-decoration-line: underline;
    color: #FFFFFF;
    
    width: 456px;
    height: 22px;
    
    padding: 12px 0 0;
    /* border: 1px solid red; */
  }
  
  .place__link:hover {
    opacity: 0.8;
  }
  
  @media screen and (max-width: 768px) {
    .place__link {
      width: 352px;
      height: 22px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .place__link {
      width: 288px;
      height: 22px;
    }
  }