.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  z-index: 1;
  
  max-width: 560px;
  
  margin: auto;
  margin-bottom: 0;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1024px) {
  .cover__title {
    margin: 195px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    margin: 115px 104px 0;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    
    max-width: 288px;

    margin: 33px 16px 0;
    padding: 0 16px 0 16px;
  }
}