.place { 
  display: grid;
  grid-template-columns: 0.95fr 1fr;
  grid-template-rows: min-content 1fr;

  column-gap: 40px;
  row-gap: 48px;
  
  width: 100%;
  height: min-content;
  margin: 0 auto;
  padding-bottom: 80px; 
}

.place:last-child {
  padding-bottom: 0;
}


@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;

    /* min-height: 640px; */
  }
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
/* 
    min-height: 581px; */
  }
}

@media screen and (max-width: 465px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    
    row-gap: 32px;
    column-gap: 0;
/* 
    min-height: 1042px; */
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    
    row-gap: 32px;
    column-gap: 0;

    padding-bottom: 50px;
    /* min-height: 1042px; */
  }
}