.footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  
  max-width: 100%;
  min-height: 18px;
  
  padding: 0 48px 24px 48px;
  /* border: 1px solid red; */
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 24px;
  }
}


@media screen and (max-width: 320px) {
  .footer {
    min-height: 310px;
    flex-direction: column;
    align-items: flex-start;

    padding: 0 118px 24px 16px;
  }
}
