.footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  
  max-width: 100%;
  min-height: 18px;
  
  padding: 0 48px 24px 48px;
  border: 1px solid red;
}