.place__website {
  max-width: 456px;
  padding-bottom: 48px;
  margin-top: auto;
  flex-basis: 50%;

  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    padding-bottom: 0;
    /* max-width: 288px; */
    
    padding-left: 16px;
    margin-bottom: 32px;
    margin-left: 0;
  }
}